@import url('~src/assets/_themes/sewing.less');

.card-head {
  flex: 1;
  max-width: 196px;
}

.card-body {
  padding: 0 8px;
  flex: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: justify;
}

.card-tail {
  background-color: @accent;
  padding: 8px;
  width: 32px;
}

.head-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.body-text {
  width: 100%;
}

.body-title {
  font-size: 18px;
  font-weight: bolder;
  margin: 0 0 8px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.tail-icon {
  width: 100%;
  object-fit: contain;
}

